h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #3098dd;
    font-size: 9pt;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #354b63;
    font-size: 11pt;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9pt;
}

#par1 {

    border-left: 5px solid #bdc7cf;
    padding: 4px;

}
table, tr{
    margin: auto;
    width: 800px;
    border: 15px solid #bdc7cf;
    padding: 10px;
}