.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 3px;
}

.center-div2
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  width: 50%;
  height: 50%;
  border-radius: 0px;
}

.center-div3
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 3px;
  background-image: url(images/source-3.gif);
  background-position: center; 
  background-repeat: no-repeat;
  object-fit: cover;
}
.center-div4
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 3px;
}

@font-face {
    font-family: 'louize_display_trialMdIt';
    src: url(fonts/LouizeDisplayTrial-MediumItalic.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_grotesk';
    src: url(fonts/SpaceGrotesk-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

a{
    color: black;
}

a:hover{
    color:black;
}

h1 {
    font-family: 'space_grotesk', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 24pt;
    }

h2 {
    font-family: 'louize_display_trialMdIt', sans-serif;
    font-weight:bold;
    font-style:normal;
    color: black;
    }

h3 {
    font-family: 'louize_display_trialMdIt', sans-serif;
    font-weight:normal;
    font-style:normal;
    color:white;
    font-size:72px;
    }

p{
    font-family: 'space_grotesk', sans-serif;
    font-weight:normal;
    font-style:normal;
    color:black;
    font-size:14px;
    }

#contactform{
    font-family: 'louize_display_trialMdIt', sans-serif;
    font-weight:normal;
    font-style:normal;
    color:black;
    font-size:14px;
    }

#midnitesnack{
    background: repeating-linear-gradient(180deg, #b8fb3c, #5ce5d5, #7898fb, #001437 1000px);
    background-size:1000px 1000px;
    background-position-x:0%;
    -webkit-animation:'slide' 20s infinite linear forwards;
    animation: 'slide' 20s infinite linear forwards;
    margin: 0;
    }

.homepage {
    background: repeating-linear-gradient(65deg, #ad7df5, #08e0d9, #ff42b4, #dbfe02 300px);
    background-size:100px 100px;
    background-position-x:0%;
    -webkit-animation:'slide' 3s infinite linear forwards;
    animation:'slide' 3s infinite linear forwards;
    margin: 0;
    } 

h1:hover{
    background: #dbfe02;
}

.center-div:hover  {
    background-image: url("images/source.gif");
    background-position: center; 
    background-repeat: no-repeat;
    object-fit: contain;
}

.center-div2:hover  {
    background-image: url("images/source-2.gif");
    background-position: center; 
    background-repeat: no-repeat;
    object-fit: contain;
} 

@keyframes slide{
    0%{
        background-position-y:0%;
    }
        100%
        {
        background-position-y:100%;
        }
}

@-webkit-keyframes slide {
    0%{
    background-position-y:0%;
}
    100%
    {
    background-position-y:100%;
    }
}

#archive {
    background-color: black;
    font-family: 'louize_display_trialMdIt', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 25px;
}

.videos {
    background-color: black;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    height: 100%;
  }
  
.zoom:hover {
    -ms-transform: scale(2); 
    -webkit-transform: scale(2); 
    transform: scale(2);
    z-index:10; 
}

.menu {
    background: repeating-linear-gradient(180deg, #ad7df5, #08e0d9, #ff42b4, #dbfe02 1000px);
    background-size:700px 700px;
    background-position-x:0%;
    -webkit-animation:'slide' 5s infinite linear forwards;
    animation: 'slide' 5s infinite linear forwards;
    margin: 0;
}

body {
    font-family: 'space_grotesk', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 25px;
}

.carousel-nav-icon {
   height: 48px;
   width: 48px;
}

img{
    margin: 8px;
}

.carousel-item{
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact{
    align-items: center;
    justify-content: center;
}


    /* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  .hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    border: none;
    background-color: white;
    color: black;
    font-family: 'space_grotesk', sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
  }
  .hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  .hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }

  .ui.segment {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
            box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
  .ui.segment:first-child {
    margin-top: 0em;
  }
  .ui.segment:last-child {
    margin-bottom: 0em;
  }

  .ui.raised.segments,
.ui.raised.segment {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.currently-active {
    position: fixed;
    margin: 10px;
    padding: 5px;
    bottom: 0;
    left: 0;
    border: solid 1px #AFAFAF;
    border-radius: 6px;
    font-family: "space_grotesk";
  }