@import url(https://fonts.googleapis.com/css?family=DM+Mono);
@import url(https://fonts.googleapis.com/css?family=Space+Mono);

@font-face {
    font-family: 'ft88regular';
    src: url('/fonts/ft88-regular-webfont.woff2') format('woff2'),
         url('/fonts/ft88-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ft88bold';
    src: url('/fonts/ft88-bold-webfont.woff2') format('woff2'),
         url('/fonts/ft88-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-size: calc(2rem + ((1vw - 0.48rem) * 1.3889));
    /* Where: * 1.3889 = 100 * font_Size_Difference / viewport_Width_Difference */
}

body {
    background-color: black;
    margin: 0px;
    cursor: url('/assets/key.png'), auto;
}

.all{
    overflow: hidden;
}
.full-image{
    overflow: hidden;
    width:99vw;
    height:99vh;
    display:flex;
    border: #17FF3D;
    border-style: solid;
    border-width: 3px;
}

.full-image .topBar{
    width:200%;
}

.full-image .scrollBar{
  height:100vh;
}

.full-image .sB{
    height: 100vh;
}

.main_h1{
    font-family: 'ft88bold';
    font-style: bold;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    /* or 80px */
    color: #FFFFFF;
    max-width: 600px;

}

a:-webkit-any-link{
    cursor: url('/assets/big-cursor.png'), auto;

}
.sub-item-1{

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.main-button-text{
    font-family: 'ft88bold';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: black;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 12s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* desktop_body */

.desktop_body {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 0.5rem;
    color: #FFFFFF;
}

.desktop_h1 {
    font-family: 'ft88regular';
    font-weight: normal;
    font-size: 3rem;
    line-height: 83%;
    /* or 80px */
    text-transform: uppercase;
    color: #FFFFFF;
}

.desktop_h2 {
    font-family: 'ft88bold';
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
    line-height: 83%;
    /* or 80px */
    text-transform: uppercase;
    color: #FFFFFF;
}


/* desktop_h2 */

h2 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    line-height: 99%;
    font-size: 1.5rem;
    /* or 63px */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: white;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 18px 16px 16px;
    background: #FFFFFF;
    width: 300px;
    cursor: url('/assets/big-cursor.png'), auto;

}

.button-text {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 31px;
    color: black;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 0% 10%;
}

.flex-top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-image: url(/assets/particles.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/assets/window.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;

}

.flex-item-1 {
    flex: 100%;
    margin: 50px;
}

.flex-item-2 {
    margin: 20px;
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flex-item-3 {
    margin: 2%;
}

.container-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-self: center;
    gap: 15px 10px;
    border: #17FF3D;
    border-style: solid;
    border-width: 3px;
    border-bottom: 0px;
    padding: 5%;
    background-color: black;
    width: 90%;
    max-width: 1000px;
}

.last-item {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #17FF3D;
}

.item {
    place-self: auto;
}

.container-1 .item-2 {
    place-self: center;
}

.sub-item {
    max-width: 500px;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px 10px;
    border: #17FF3D;
    border-style: solid;
    border-width: 3px;
    padding: 5%;
    width: 50%;
    margin-bottom: 15%;
    background-color: black;
}

.back-image-1 {
    z-index: 1;
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/keys.svg);
    background-repeat: repeat-x;
}

.back-image-3 {
    z-index: -1;
    position: relative;
    margin-top: -100px;
    margin-bottom: -150px;
    display: flex;
    justify-content: center;
}

.svg_image {
    margin: 5%;
    max-width: 20vw;
}

.footer-image {
    height: 400px;
    display: flex;
    background-image: url(/assets/footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    align-self: center;
}

@media only screen and (max-width: 599px) {
    .container-1 {
        grid-template-columns: 1fr;
    }
    .container-2 {
        width: 90%;
    }
    .svg_image {
        max-width: 200px;
        height: 200px;
    }
    .desktop_h1 {
        font-size: 2rem;
    }
    .desktop_h2 {
        font-size: 2rem;
    }

    .main_h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    button {
        padding: 16px 18px 16px 16px;
        width: 200px;
    }
    .button-text {
        font-family: 'DM Mono';
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
    .item {
        place-self: center;
    }

    .item h2{
        text-align:center;
    }

    .footer {
        background-size: 120%;
    }

    .flex-bottom-section {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 10%;
        margin-left: 10%;
        background-size: 100% 100%;

    }

    .footer-image {
        height: 300px;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: bottom;
        align-self: center;
    }

    .windows-gif{
        width: 200px;
        padding: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .container-1 {
        grid-template-columns: 1fr;
    }
    .container-2 {
        width: 90%;
    }
    .item {
        place-self: center;
    }

    .item h2{
        text-align:center;
    }
}

@media only screen and (min-width: 900px) and (min-width: 1200px) {
     :root {
        font-size: 2.5em;
    }
}